
.home {
  padding-top: 10px;

  .amountResult {
    margin-top: 2px;
    margin-left: 5px;
    color: #9aa0a6;
  }

  .loadMore {
    margin-top: 20px;
  }

  .videoRowWrap {
    margin-top: 15px;
  }

  p {
    font-family: Rubik, sans-serif;
    text-align: center;
    word-break: break-word;

    padding: 5px;
    margin-bottom: 0;
  }
}
