@import "../../styles/theme-fy";

.loading {
  width: 50%;
  height: 10px;
  border-radius: 15px;

  @include gradient-theme(2s);
  background-size: 200% 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 150% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

