
$border-color: #8265cb;


@mixin gradient-background($delay: 11s, $deg: 45deg) {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  background: linear-gradient($deg, #CB47EF, #e75252, #8265cb, #2be086);
  animation: gradient $delay ease alternate infinite;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-one-way {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

