.videoPage {

  .video {
    @media screen and (max-width: 576px) {
      width: 100vw;
    }

    @media screen and (min-width: 576px) {
      width: 90vw;
    }

    @media screen and (min-width: 768px) {
      width: 640px;
      height: 360px;
    }

    @media screen and (min-width: 992px) {
      width: 640px;
      height: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 920px;
      height: 517px;
    }

    @media screen and (min-width: 1440px) {
      width: 1040px;
      height: 585px;
    }

    @media screen and (min-width: 1660px) {
      width: 1280px;
      height: 720px;
    }
  }


  .transcriptions {
    display: flex;
    flex-direction: column;

    margin-left: 10px;

    @media screen and (max-width: 576px) {
      width: 100vh;
      min-height: 270px;
    }

    @media screen and (min-width: 576px) {
      width: 100vh;
      min-height: 320px;
    }

    @media screen and (min-width: 768px) {
      width: 640px;
      height: 200px;
    }

    @media screen and (min-width: 992px) {
      width: 260px;
      height: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 300px;
      height: 517px;
    }

    @media screen and (min-width: 1440px) {
      width: 300px;
      height: 585px;
    }

    @media screen and (min-width: 1660px) {
      width: 340px;
      height: 720px;
    }

    .arrows {
      display: flex;

      svg {
        cursor: pointer;
        font-size: 2em;
      }
    }

    .lines {
      overflow: auto;

      .line {
        display: block;

        mark {
          background-color: #FF77FF;
        }

        .time {
          font-weight: 600;
          width: 10px;

          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .wordFound {
          background-color: yellow;
        }
      }
    }

  }

}