@import "../../styles/global";

$video_height_xs: 200px;
$video_height_sm: 335px;
$video_height_md: 360px;
$video_height_lg: 360px;
$video_height_xl: 517px;
$video_height_xxl: 585px;
$video_height_xxxl: 720px;


.videoPage {

  display: flex;
  justify-content: center;

  .video {
    @media screen and (max-width: 576px) {
      width: 100vw;
      height: $video_height_xs;
    }

    @media screen and (min-width: 576px) {
      width: 100vw;
      height: $video_height_sm;
    }

    @media screen and (min-width: 768px) {
      width: 640px;
      height: $video_height_md;
    }

    @media screen and (min-width: 992px) {
      width: 640px;
      height: $video_height_lg;
    }

    @media screen and (min-width: 1200px) {
      width: 920px;
      height: $video_height_xl;
    }

    @media screen and (min-width: 1440px) {
      width: 1040px;
      height: $video_height_xxl;
    }

    @media screen and (min-width: 1660px) {
      width: 1280px;
      height: $video_height_xxxl;
    }
  }


  .transcriptions {
    display: flex;
    flex-direction: column;

    padding-left: 10px;

    @media screen and (max-width: 576px) {
      width: 100vw;
      height: calc(100vh - #{$video_height_xs} - 64px);
    }

    @media screen and (min-width: 576px) {
      width: 100vw;
      height: calc(100vh - #{$video_height_sm});
    }

    @media screen and (min-width: 768px) {
      width: 640px;
      height: calc(100vh - #{$video_height_md});
    }

    @media screen and (min-width: 992px) {
      width: 260px;
      height: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 920px;
      height: 517px;
    }

    @media screen and (min-width: 1440px) {
      width: 300px;
      height: 585px;
    }

    @media screen and (min-width: 1660px) {
      width: 340px;
      height: 720px;
    }

    .arrows {
      display: flex;

      svg {
        cursor: pointer;
        font-size: 2em;
      }
    }

    .lines {
      overflow: auto;

      .line {
        display: block;

        mark {
          background-color: $backgroundColorMark;
        }

        .time {
          font-weight: 600;
          width: 10px;

          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .wordFound {
          background-color: yellow;
        }
      }
    }

  }

}
