.videoPage {

  .transcriptions {
    margin-left: 20px;
    max-height: 720px;
    min-width: 400px;
    overflow: auto;

    .line {
      display: block;

      mark {
        background-color: #FF77FF;
      }

      .time {
        font-weight: 600;
        width: 10px;

        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .wordFound {
        background-color: yellow;
      }
    }

  }
}